<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('serve_static', filename='/hours/static/hours_edit_data.js')}}"></script>
    <style>
        table {
            border-collapse: collapse;
        }

        th {
            border: 1px solid rgb(0, 0, 0);
            padding: 15px;
            background-color: rgb(184, 184, 184);
            position: -webkit-sticky; 
            position: sticky;
            top: 0;
            z-index: 1;
        }

        td {
            border: 1px solid rgb(0, 0, 0);
            padding: 15px;
        }

        .text {
            font-size: 25px;
        }
    </style>
</head>

<body onload="generate_table()">
    <input type="button" value="back" class="text" onclick="
        window.location.replace('/hours');
    "></input>
    <input type="button" value="save" class="text" onclick="
        save_data();
    "></input>
    <input type="button" value="export" class="text" onclick="
        download_button_onlclick();
    "></input>
    <input type="button" value="↓" class="text" onclick="
        scroll_down();
    "></input>
</body>

</html>