<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('serve_static', filename='/material/static/material_home.js')}}"></script>

    <style>
        .button {
            width: 180px;
            height: 180px;
            font-size: xx-large;
        }

        .text {
            font-size: 25px;
        }
    </style>
</head>

<body onload="onload();">
    <script>
        document.addEventListener("gesturestart", function (event) {
            event.preventDefault();
        });
    </script>

    <input type="button" value="back" class="text" onclick="
        document.location.replace('/');
    ">
    <input type="button" id="export" value="export" class="text"">
    <input type="button" id="save" value="save" class="text">
    <br><br>
    
    <select id="select" class="text">
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
    </select>
    <input type="button" id="remove-data" value="remove" class="text">
    <br><br>

    <label class="text" id="led">name: </label>
    <br>
    <input type="text" id="name" class="text" style="width: 380px;">
    <br>

    <label class="text">cnt: </label>
    <br>
    <input type="number" id="cnt" class="text" style="width: 70px;">
    <br><br>

    <label class="text">missing: </label>
    <br>
    <input type="number" id="missing" class="text" style="width: 70px;">
    <br><br>
    <input type="button" value="+" id="increase" class="button">
    <input type="button" value="-" id="decrease" class="button">
    <br><br>

    <input type="button" id="previous" value="previous" class="text">
    <input type="button" id="next" value="next" class="text">
    <input type="button" id="add" value="add" class="text">


</body>

</html>